/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here. */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. 
Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  border: 2px dashed red;
  border-radius: 10%;
  /* Style me! Change my border, set a border radius or try out other styles. :) */
}

.button2 {
  background-color: #0078ce;
  color: white;
  /* Style me! Change my color or background-color, or both! You can experiment with different color formats here, like HEX, RGB, etc. */
}

.button3 {
  font-weight: bold;
  text-shadow: 3px 3px 3px grey;
  font-family: Lato, sans-serif;
  /* Style me! You can test out changing the font, font size, ...*/
}

.button4 {
  box-shadow: 3px 3px 15px red;
  /* Style me! Can you add a shadow to this button? Try playing around with shadow properties - you can even change the shadow color, size, and more. */
}

/* Feel free to play around with other properties, too. */
